body {
    background: linear-gradient(45deg,
            rgba(26, 12, 172, 1) 14%,
            rgba(20, 20, 78, 1) 81%);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 425px;
}

h1 {
    color: white;
    font-size: 35px;
}

#EnterBudgetBtn {
    width: 100%;
}

.DisplayTxt {
    font-size: 1.5rem;
    color: white;
}

.card {
    margin-bottom: 10px;
}

.col-2.btn.btn-primary {
    background-color: #9999ff;
    border-color: #9999ff;
}

.col-2.btn.btn-primary:hover {
    background-color: #a8a8ff;
    border-color: #a8a8ff;
}

.btn:disabled {
    background-color: #024ab6;
    border-color: #024ab6;
    opacity: 0.9;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}