body{
    background: linear-gradient(45deg, rgba(26,12,172,1) 14%, rgba(20,20,78,1) 81%);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 425px;
}

h1{
    color: white;
    font-size: 35px;
}

#EnterBudgetBtn {
    width: 100%;
}

.DisplayTxt{
    font-size: 1.5rem;
    color: white;
}

.card {
    margin-bottom: 10px;
}

.col-2.btn.btn-primary {
    background-color: #7A7AFF;
    border-color: #7A7AFF;
}

.col-2.btn.btn-primary:hover {
    background-color: #A8A8FF;
    border-color: #A8A8FF;
}

.btn:disabled {
    background-color: #024AB6;
    border-color: #024AB6;
    opacity: 0.9;
}

