body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 425px;
}

h1{
    color: white;
    font-size: 35px;
}

.DisplayTxt{
    font-size: 1.5rem;
    color: white;
}

.card {
    margin-bottom: 10px;
}

.col-2.btn.btn-primary {
    background-color: #7A7AFF;
    border-color: #7A7AFF;
}

.col-2.btn.btn-primary:hover {
    background-color: #A8A8FF;
    border-color: #A8A8FF;
}